<div class="container">
<form>
  <h1 class="jumbotron">GitHub Search</h1>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter Github username " (keyup)='submitSearch($event)'>
  </div>  
  </form>
  <div class="row">
      <div class="col-md-3">
          <img src="{{user.avatar_url}}" height="200" class="img-circle">
      </div>
      <div class="col-md-6">
      <table>
      <tr>
      <td> Overview: </td>
      <td class="label">{{user.name}}</td>
      </tr>
      <tr>
      <td>Repositories: </td>
      <td class="label">{{user.public_repos}}</td>
      </tr>
      <tr>
      <td>Bio: </td>
          <td class="label">{{user.bio}}</td>
          </tr>
      <tr>
         <td>Followers: </td>
        <td class="label">{{user.followers}}</td>
        </tr>
        <tr>
         <td>Following: </td>
          <td class="label">{{user.following}}</td>
           </tr>
           <tr>
            <td>Created at: </td>
             <td class="label">{{user.created-at}}</td>
              </tr>
      </table>
      </div>
      </div>
      <a href="{{user.html_url}}" class="btn btn-danger" id="view">View Profile</a>
</div>